{
  "openapi": "3.1.0",
  "info": {
    "title": "Papers API",
    "version": "0.1.0",
    "description": "Email, SMS, and workspace resources for Papers. Authenticate resource requests with a scoped API key or OAuth token. Administrative endpoints require a human session."
  },
  "servers": [
    {
      "url": "https://www.papers.bot/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "operationId": "getIdentity",
        "summary": "Read the authenticated identity",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Identity"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Identity"
        ]
      }
    },
    "/capabilities": {
      "get": {
        "operationId": "getCapabilities",
        "summary": "Check configured providers and availability",
        "description": "Reports server configuration, not live provider health or credential permissions. Phone availability requires an active account, API key, messaging profile, and webhook verification key. Inspect identity scopes separately; quotas and approvals still apply.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capabilities"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Identity"
        ]
      }
    },
    "/inboxes": {
      "get": {
        "operationId": "listInboxes",
        "summary": "List accessible inboxes",
        "description": "Newest first. Defaults to 100 per page; follow nextCursor until null. Required scope: inboxes:read.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxPage"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "inboxes:read"
        ],
        "tags": [
          "Inboxes"
        ]
      },
      "post": {
        "operationId": "createInbox",
        "summary": "Allocate an email address",
        "description": "Provide username (the part before @); the server supplies the domain. Name is optional and defaults to a random readable name such as fierce-zebra. Repeating the same request with the same credential returns the original inbox; no idempotency key is needed. Read-only members cannot allocate inboxes. Workspace API keys need no agent registration; legacy agent-bound keys retain their restrictions. Required scope: inboxes:write.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inbox"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "username": {
                    "type": "string",
                    "pattern": "^[a-z0-9][a-z0-9._-]{2,40}$"
                  },
                  "agentId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "username"
                ]
              }
            }
          }
        },
        "x-required-scopes": [
          "inboxes:write"
        ],
        "tags": [
          "Inboxes"
        ]
      }
    },
    "/inboxes/{id}": {
      "get": {
        "operationId": "getInbox",
        "summary": "Read an inbox",
        "description": "Required scope: inboxes:read.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inbox"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "inboxes:read"
        ],
        "tags": [
          "Inboxes"
        ]
      },
      "patch": {
        "operationId": "updateInbox",
        "summary": "Archive or reactivate an inbox",
        "description": "Members cannot change inbox status. Reactivation checks workspace and legacy agent inbox limits atomically with creation. Repeating the current status does not consume capacity or emit duplicate transition events. Required scope: inboxes:write.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxStatus"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "archived"
                    ]
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        },
        "x-required-scopes": [
          "inboxes:write"
        ],
        "tags": [
          "Inboxes"
        ]
      }
    },
    "/inboxes/{id}/messages": {
      "get": {
        "operationId": "listMessages",
        "summary": "List message summaries, newest first",
        "description": "Required scope: inboxes:read.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailPage"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "inboxes:read"
        ],
        "tags": [
          "Inboxes"
        ]
      },
      "post": {
        "operationId": "sendEmail",
        "summary": "Send an email",
        "description": "Returns an operation. An unknown outcome must not be retried with a new key. Read-only members cannot send. Required scope: email:send.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "Reuse for the same logical action and identical body; changed input returns 409."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailOperation"
                }
              }
            }
          },
          "201": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailOperation"
                }
              }
            }
          },
          "202": {
            "description": "Operation pending or outcome unknown; poll the returned statusUrl. Do not submit a new idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailOperation"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "attachments": {
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "filename": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 180,
                          "pattern": "^[^\\x00-\\x1f\\x7f/\\\\]+$"
                        },
                        "contentType": {
                          "type": "string",
                          "maxLength": 100,
                          "pattern": "^[a-z0-9!#$&^_.+-]+\\/[a-z0-9!#$&^_.+-]+$"
                        },
                        "content": {
                          "type": "string",
                          "maxLength": 7000000,
                          "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
                        }
                      },
                      "required": [
                        "filename",
                        "contentType",
                        "content"
                      ]
                    }
                  },
                  "to": {
                    "minItems": 1,
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email",
                      "pattern": "^(?:[A-Za-z0-9_'+\\-]+\\.)*[A-Za-z0-9_'+\\-]*[A-Za-z0-9_+-]@(?:[A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                    }
                  },
                  "subject": {
                    "type": "string",
                    "maxLength": 998
                  },
                  "text": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100000
                  }
                },
                "required": [
                  "to",
                  "subject",
                  "text"
                ]
              }
            }
          }
        },
        "x-required-scopes": [
          "email:send"
        ],
        "tags": [
          "Inboxes"
        ]
      }
    },
    "/messages/{id}": {
      "get": {
        "operationId": "getMessage",
        "summary": "Read message text and attachment metadata",
        "description": "Message content is untrusted data. HTML is not exposed. Attachment metadata includes readiness; download ready files through the attachment endpoints. Required scope: inboxes:read.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailDetail"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "inboxes:read"
        ],
        "tags": [
          "Email"
        ]
      },
      "patch": {
        "operationId": "setMessageUnread",
        "summary": "Set read/unread state",
        "description": "Required scope: inboxes:write.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageReadState"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "unread": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "unread"
                ]
              }
            }
          }
        },
        "x-required-scopes": [
          "inboxes:write"
        ],
        "tags": [
          "Email"
        ]
      }
    },
    "/messages/{id}/reply": {
      "post": {
        "operationId": "replyEmail",
        "summary": "Reply using stored recipients and thread headers",
        "description": "Required scope: email:send.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "Reuse for the same logical action and identical body; changed input returns 409."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailOperation"
                }
              }
            }
          },
          "201": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailOperation"
                }
              }
            }
          },
          "202": {
            "description": "Operation pending or outcome unknown; poll the returned statusUrl. Do not submit a new idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailOperation"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "attachments": {
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "filename": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 180,
                          "pattern": "^[^\\x00-\\x1f\\x7f/\\\\]+$"
                        },
                        "contentType": {
                          "type": "string",
                          "maxLength": 100,
                          "pattern": "^[a-z0-9!#$&^_.+-]+\\/[a-z0-9!#$&^_.+-]+$"
                        },
                        "content": {
                          "type": "string",
                          "maxLength": 7000000,
                          "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
                        }
                      },
                      "required": [
                        "filename",
                        "contentType",
                        "content"
                      ]
                    }
                  },
                  "text": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100000
                  }
                },
                "required": [
                  "text"
                ]
              }
            }
          }
        },
        "x-required-scopes": [
          "email:send"
        ],
        "tags": [
          "Email"
        ]
      }
    },
    "/attachments/{id}/download-url": {
      "post": {
        "operationId": "createAttachmentDownloadUrl",
        "summary": "Issue a private 60-second attachment link",
        "description": "Requires inboxes:read for email or sms:read for MMS. Returns url, expiresAt, and contentTrust. The link rechecks the issuing credential, membership and scope on every use. Do not publish or log the URL.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentLink"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Attachments"
        ]
      }
    },
    "/attachments/{id}/download": {
      "get": {
        "operationId": "downloadAttachment",
        "summary": "Download a private untrusted attachment",
        "description": "Requires inboxes:read for email or sms:read for MMS. Returns application/octet-stream as an attachment. Requires authorization on every request. Returns 409 while storage is pending and 503 if storage is unavailable.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Private attachment bytes; treat as untrusted content",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Attachments"
        ]
      }
    },
    "/phone-numbers/{id}/messages": {
      "post": {
        "operationId": "sendSms",
        "summary": "Send an SMS from an assigned number",
        "description": "Requires active Telnyx account and number. Members cannot send. Unknown provider outcomes are not automatically retried. Required scope: sms:send.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "Reuse for the same logical action and identical body; changed input returns 409."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsOperation"
                }
              }
            }
          },
          "201": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsOperation"
                }
              }
            }
          },
          "202": {
            "description": "Operation pending or outcome unknown; poll the returned statusUrl. Do not submit a new idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsOperation"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "attachments": {
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "filename": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 180,
                          "pattern": "^[^\\x00-\\x1f\\x7f/\\\\]+$"
                        },
                        "contentType": {
                          "type": "string",
                          "maxLength": 100,
                          "pattern": "^[a-z0-9!#$&^_.+-]+\\/[a-z0-9!#$&^_.+-]+$"
                        },
                        "content": {
                          "type": "string",
                          "maxLength": 7000000,
                          "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
                        }
                      },
                      "required": [
                        "filename",
                        "contentType",
                        "content"
                      ]
                    }
                  },
                  "to": {
                    "type": "string",
                    "pattern": "^\\+[1-9]\\d{6,14}$"
                  },
                  "text": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1600
                  }
                },
                "required": [
                  "to",
                  "text"
                ]
              }
            }
          }
        },
        "x-required-scopes": [
          "sms:send"
        ],
        "tags": [
          "Phone numbers"
        ]
      },
      "get": {
        "operationId": "listSmsMessages",
        "summary": "Read SMS summaries, newest first",
        "description": "Required scope: sms:read.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsPage"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "sms:read"
        ],
        "tags": [
          "Phone numbers"
        ]
      }
    },
    "/phone-numbers/{id}": {
      "get": {
        "operationId": "getPhoneNumber",
        "summary": "Read an assigned number",
        "description": "Required scope: numbers:read.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneNumber"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "numbers:read"
        ],
        "tags": [
          "Phone numbers"
        ]
      },
      "delete": {
        "operationId": "releasePhoneNumber",
        "summary": "Permanently release a phone number",
        "description": "Required scope: numbers:release.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "Reuse for the same logical action and identical body; changed input returns 409."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumberOperation"
                }
              }
            }
          },
          "202": {
            "description": "Operation pending or outcome unknown; poll the returned statusUrl. Do not submit a new idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumberOperation"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "numbers:release"
        ],
        "tags": [
          "Phone numbers"
        ]
      }
    },
    "/phone-numbers": {
      "get": {
        "operationId": "listPhoneNumbers",
        "summary": "List phone numbers and onboarding status",
        "description": "Lists workspace numbers newest first, including pending and released assignments. Defaults to 100 per page; follow nextCursor until null. Required scope: numbers:read.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneNumberPage"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "numbers:read"
        ],
        "tags": [
          "Phone numbers"
        ]
      },
      "post": {
        "operationId": "provisionPhoneNumber",
        "summary": "Purchase a workspace phone number",
        "description": "Assigns an existing paid rental to a number using country and phoneNumber. New purchases should use owner-session POST /billing/checkout with kind=phone, country=US and phoneNumber. Inventory costs are resolved privately. Poll the operation; an unknown outcome must not be reordered. Required scope: numbers:provision.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "Reuse for the same logical action and identical body; changed input returns 409."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumberOperation"
                }
              }
            }
          },
          "202": {
            "description": "Operation pending or outcome unknown; poll the returned statusUrl. Do not submit a new idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumberOperation"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "country": {
                    "type": "string",
                    "pattern": "^[A-Z]{2}$"
                  },
                  "monthlyCost": {
                    "default": "3.00",
                    "type": "string",
                    "pattern": "^\\d+(\\.\\d+)?$"
                  },
                  "upfrontCost": {
                    "default": "0.00",
                    "type": "string",
                    "pattern": "^\\d+(\\.\\d+)?$"
                  },
                  "currency": {
                    "default": "USD",
                    "type": "string",
                    "pattern": "^[A-Z]{3}$"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "pattern": "^\\+[1-9]\\d{6,14}$"
                  },
                  "agentId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "country",
                  "phoneNumber"
                ]
              }
            }
          }
        },
        "x-required-scopes": [
          "numbers:provision"
        ],
        "tags": [
          "Phone numbers"
        ]
      }
    },
    "/phone-numbers/available": {
      "get": {
        "operationId": "searchPhoneNumbers",
        "summary": "Search available phone numbers at Papers retail prices",
        "description": "Requires an activated Telnyx account; otherwise returns 503. Required scope: numbers:read.",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{2}$",
              "default": "US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableNumberResults"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "numbers:read"
        ],
        "tags": [
          "Phone numbers"
        ]
      }
    },
    "/sms/{id}": {
      "get": {
        "operationId": "getSmsMessage",
        "summary": "Read untrusted SMS text",
        "description": "Returns untrusted message text and recipientOptOut: current observed profile status (blocked, not_blocked, or unknown) and observedAt. This is not proof of consent or guaranteed delivery. List responses omit recipientOptOut. Required scope: sms:read.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsDetail"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "sms:read"
        ],
        "tags": [
          "SMS"
        ]
      }
    },
    "/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "Read events in ascending order",
        "description": "Persist the final returned cursor and poll again. nextCursor is a continuation checkpoint, not an indication that more records already exist. Required scope: events:read.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventPage"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "events:read"
        ],
        "tags": [
          "Events"
        ]
      }
    },
    "/operations/{id}": {
      "get": {
        "operationId": "getOperation",
        "summary": "Poll a mutation outcome",
        "description": "Agent credentials can read only operations created by that credential. A completed send means provider acceptance, not recipient delivery.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Operations"
        ]
      }
    },
    "/approvals": {
      "get": {
        "operationId": "listApprovals",
        "summary": "List recent approval requests",
        "description": "Returns requests newest first with cursor pagination (default 25, maximum 100 per page). Credentials can read their own requests; owner/admin sessions can review workspace requests.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalPage"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Approvals"
        ]
      }
    },
    "/approvals/{id}/approve": {
      "post": {
        "operationId": "approveAction",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "summary": "Approve an exact requested action",
        "description": "Owner/admin session outside impersonation required. Approval does not execute the action; the original principal retries the same request and key. Requires a human owner/admin session; agent API keys and delegated OAuth cannot administer the workspace.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalDecision"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Approvals"
        ]
      }
    },
    "/approvals/{id}/deny": {
      "post": {
        "operationId": "denyAction",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "summary": "Deny a requested action",
        "description": "Requires a human owner/admin session; agent API keys and delegated OAuth cannot administer the workspace.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalDecision"
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Approvals"
        ]
      }
    },
    "/api-keys": {
      "get": {
        "operationId": "listApiKeys",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "summary": "List key metadata",
        "description": "Required scope: agents:read. Requires a human owner/admin session; agent API keys and delegated OAuth cannot administer the workspace.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "agents:read"
        ],
        "tags": [
          "API keys"
        ]
      },
      "post": {
        "operationId": "createApiKey",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "summary": "Issue a scoped workspace API key",
        "description": "The token is shown only once. Unavailable during impersonation. Required scope: agents:write. Requires a human owner/admin session; agent API keys and delegated OAuth cannot administer the workspace.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "resourceGrants": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "inboxIds": {
                            "default": [],
                            "maxItems": 100,
                            "type": "array",
                            "items": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "phoneNumberIds": {
                            "default": [],
                            "maxItems": 100,
                            "type": "array",
                            "items": {
                              "type": "string",
                              "minLength": 1
                            }
                          }
                        },
                        "additionalProperties": false
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "dailyInboxLimit": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 10000
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "dailyNumberLimit": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 10000
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "dailyEmailLimit": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 10000
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "dailySmsLimit": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 10000
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "agentId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "scopes": {
                    "minItems": 1,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "agents:read",
                        "agents:write",
                        "inboxes:read",
                        "inboxes:write",
                        "email:send",
                        "numbers:read",
                        "sms:read",
                        "numbers:provision",
                        "numbers:release",
                        "sms:send",
                        "events:read"
                      ]
                    }
                  },
                  "expiresInDays": {
                    "default": 90,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 365
                  }
                },
                "required": [
                  "name",
                  "scopes"
                ]
              }
            }
          }
        },
        "x-required-scopes": [
          "agents:write"
        ],
        "tags": [
          "API keys"
        ]
      }
    },
    "/api-keys/{id}": {
      "delete": {
        "operationId": "revokeApiKey",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "summary": "Revoke an API key",
        "description": "Required scope: agents:write. Requires a human owner/admin session; agent API keys and delegated OAuth cannot administer the workspace.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "agents:write"
        ],
        "tags": [
          "API keys"
        ]
      }
    },
    "/connections/{id}/limits": {
      "patch": {
        "operationId": "updateConnectionLimits",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "summary": "Set your OAuth connection daily send limits",
        "description": "Own owner/admin session only, outside impersonation. Null inherits workspace limits. Zero blocks new sends. UTC counters survive token refresh and limit changes. Requires a human owner/admin session; agent API keys and delegated OAuth cannot administer the workspace.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "dailyInboxLimit": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 10000
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "dailyNumberLimit": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 10000
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "dailyEmailLimit": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 10000
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "dailySmsLimit": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 10000
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "dailyEmailLimit",
                  "dailySmsLimit"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "tags": [
          "Connections"
        ]
      }
    },
    "/connections": {
      "get": {
        "operationId": "listConnections",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "summary": "List your OAuth grants in the selected workspace",
        "description": "Human session only.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Connections"
        ]
      }
    },
    "/connections/{id}": {
      "delete": {
        "operationId": "revokeConnection",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "summary": "Revoke your OAuth grant",
        "description": "Human session only; unavailable during impersonation.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Connections"
        ]
      }
    },
    "/webhook-endpoints/{id}/deliveries": {
      "get": {
        "operationId": "listWebhookDeliveries",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "summary": "List webhook delivery history",
        "description": "Owner/admin sessions only. Newest first. Excludes signing secrets, payloads, destination URLs, and receiver response bodies. Requires a human owner/admin session; agent API keys and delegated OAuth cannot administer the workspace.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Webhook endpoints"
        ]
      }
    },
    "/webhook-endpoints/{id}/deliveries/{deliveryId}": {
      "get": {
        "operationId": "getWebhookDelivery",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "summary": "Read webhook delivery attempts",
        "description": "Owner/admin sessions only. Returns up to eight attempts with timestamps, HTTP statuses, and fixed error codes. Requires a human owner/admin session; agent API keys and delegated OAuth cannot administer the workspace.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deliveryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Webhook endpoints"
        ]
      }
    },
    "/webhook-endpoints": {
      "get": {
        "operationId": "listWebhookEndpoints",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "summary": "List workspace webhook endpoints",
        "description": "Requires a human owner/admin session; agent API keys and delegated OAuth cannot administer the workspace.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Webhook endpoints"
        ]
      },
      "post": {
        "operationId": "createWebhookEndpoint",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "summary": "Configure an inactive webhook endpoint",
        "description": "Returns signingSecret once. New endpoints are disabled; save the secret before enabling with PATCH. Requires a human owner/admin session; agent API keys and delegated OAuth cannot administer the workspace.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "url": {
                    "type": "string",
                    "maxLength": 2048,
                    "format": "uri"
                  },
                  "eventTypes": {
                    "minItems": 1,
                    "maxItems": 30,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^(email|sms|inbox|number)\\.[a-z_]+$"
                    }
                  }
                },
                "required": [
                  "name",
                  "url",
                  "eventTypes"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "tags": [
          "Webhook endpoints"
        ]
      }
    },
    "/webhook-endpoints/{id}": {
      "patch": {
        "operationId": "updateWebhookEndpoint",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "summary": "Update or enable a webhook endpoint",
        "description": "Requires a human owner/admin session; agent API keys and delegated OAuth cannot administer the workspace.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "url": {
                    "type": "string",
                    "maxLength": 2048,
                    "format": "uri"
                  },
                  "eventTypes": {
                    "minItems": 1,
                    "maxItems": 30,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^(email|sms|inbox|number)\\.[a-z_]+$"
                    }
                  },
                  "enabled": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "tags": [
          "Webhook endpoints"
        ]
      },
      "delete": {
        "operationId": "deleteWebhookEndpoint",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "summary": "Delete webhook endpoint",
        "description": "Requires a human owner/admin session; agent API keys and delegated OAuth cannot administer the workspace.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Webhook endpoints"
        ]
      }
    },
    "/webhook-endpoints/{id}/rotate-secret": {
      "post": {
        "operationId": "rotateWebhookSecret",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "summary": "Rotate the webhook signing secret",
        "description": "Returns the new signingSecret once, retaining the prior secret for one hour. Repeated rotation during that hour returns 409. Requires a human owner/admin session; agent API keys and delegated OAuth cannot administer the workspace.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "429": {
            "description": "Request rate limit or communication quota exceeded. Rate-limit responses include Retry-After.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the request-rate window resets (rate_limited errors)",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Webhook endpoints"
        ]
      }
    },
    "/workspace/usage": {
      "get": {
        "operationId": "getWorkspaceUsage",
[...]
